.btn_wrapper
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
}
.location
{
    padding-left: 40px;
}
.btn_wrapper{
    padding-right: 100px;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: blue;
}
.cardcontent
{
   display:flex;
   flex-direction: column;
   padding-left: 20px;


}
.Empty
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 600px;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
     color:rgb(231, 180, 112);
}
.Loading
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}